.button-with-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #2979ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    /* width: auto; */
}

.button-with-icon.left {
    flex-direction: row;
}

.button-with-icon.right {
    flex-direction: row-reverse;
}

.button-with-icon span {
    margin: 0 5px;
}

.button-with-icon:hover {
    background-color: #0350c9;
}

.button-with-icon:disabled {
    background-color: #e0e0e0;
    color: #fff;
    cursor: not-allowed;
}

.button-with-icon.secondary {
    background-color: #e0e0e0;
    color: #333;
    border: none;
}

.button-with-icon.secondary:hover {
    background-color: #aeaeae6f;
}