.see-more-container {
    /* display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left; */
}
.see-more {
    background: none;
    border: none;
    color: #1565c0;
    cursor: pointer;
    text-decoration: none;
    font-size: inherit;
    padding: 0;
    padding-top: 10px;
    margin: 0;
    width: 80px;
    display: flex;
    justify-content: left;
}

.see-more:hover {
    color: #82b1ff;
}