.projects-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.projects-header {
    margin-bottom: 20px;
}

.projects-header h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.projects-tabs {
    margin-bottom: 20px;
}

.projects-tabs ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

/* .projects-tabs ul li:last-child {
    margin-left: auto;
} */

.projects-tabs ul li {
    display: inline-block;
    margin-right: 10px;
}

.projects-tabs .spacer {
    flex-grow: 1;
}

.projects-tabs button {
    background: none;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}

.projects-tabs button:focus {
    outline: none;
}

.projects-tabs button.active {
    font-weight: bold;
    color: #2979ff;
}

.projects-list {
    background-color: #f5f5f5;
    margin-top: 20px;
    padding: 25px;
    border-radius: 5px;
}

.projects-list-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.projects-list-item h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.projects-list-item p {
    margin: 0;
    color: #777;
}

.tab-icon {
    
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.blink {
    animation: blink 1s infinite
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    animation: blink 1s infinite;
}

.card {
    background-color: #fff;
    border-radius: 4px;
    /* padding: 20px; */
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); */
}

.card h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #777;
}

.create-project-container {
    margin: 0 auto;
    overflow: auto;
}

.create-project-container form {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* margin-top: 50px; */
}

.create-project-container .header {
    /* margin-bottom: 10px; */
    margin-top: 5px;
    
    position: fixed;
    z-index: 1;
    width: 100%;
}

.create-project-container .footer {
    padding: 20px;
    width: 800px;
    max-width: 800px;
    height: 800px;
    margin-top: 60px;
    overflow-y: auto;
}

/* MEDIA SELECTION CSS */
.image-upload {
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-file-upload {
    display: inline-block;
    position: relative;
}

.upload-button {
    display: block;
    margin: 0 auto;
    border: 1px solid #263238;
    background-color: #eceff1;
    border: 1px solid #eceff1;
    color: #263238;
    border-radius: 30px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: Arial;
}

.upload-button:hover {
    background-color: #cfd8dc;
}

.upload-button:focus {
    outline: none;
}

.upload-button:active {
    background-color: #275d99;
}

.create-project-container .footer .file {
    border: none;
    box-shadow: none;
    font-size: 12px;
}

.create-project-container .line-separator {
    width: 100%;
    height: 1px;
    background-color: #c6c6c672;
}

.create-project-container .create-cancel-btns {
    margin-top: auto;
    display: flex;
    justify-content: right;
}

.create-project-container .btn-wrapper {
    display: flex;
    width: auto;
}

.create-project-container .save-btn {
    font-family: QuickSand;
}

.create-project-container label {
    font-size: 16px;
    font-family: QuickSand;
    width: 100%;
    /* margin-bottom: 5px; */
}

.create-project-container input,
.create-project-container textarea {
    padding: 10px;
    margin: 8px 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    font-size: 14px;
}

.project-title, .project-description, .project-label {
    display: flex;
    flex-direction: column;
}

.create-project-container textarea {
    resize: vertical;
    margin: 8px 0 10px;
}

.create-project-btn {
    background-color: #ffffff;
    color: #4f596a;
    border: 1px solid #cdd6df;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 60px;
}

.create-project-btn:hover {
    background-color: #f5f5f5;
    color: #19232b;
    border-color: #fff;
}

.create-project-container button[type="submit"] {
    padding: 10px 20px;
    background-color: #2979ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.create-project-container button[type="submit"]:hover {
    background-color: #2962ff;
}

.create-project-container button[type="submit"]:focus {
    outline: none;
}

.heading-4 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.heading-3 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
}

.heading-2 {
    padding: 15px;
    font-size: 20px;
    font-weight: 600;
}

.heading-1 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 24px;
    font-weight: 600;
}

.project-status {
    font-size: 14px;
    color: #777;
    padding-top: 10px;
}

.project-item-container .create-project-container, .heading-2, .heading-3, .heading-1, .heading-4 {
    font-family: QuickSand;
    font-weight: 600;
    color: #263238;
}

.project-item-container .subheading {
    font-size: 16px;
    font-family: QuickSand;
    font-weight: 600;   
    padding-bottom: 15px;
}

.project-item-container .text {
    margin-bottom: 10px;
    font-family: QuickSand;
    font-size: 15px;
    color: #263238;
}

.project-item-container .item {
    margin-bottom: 10px;
}

.subtitle {
    font-size: 16px;
    color: #607d8b;
    font-family: QuickSand;
    font-weight: 500;
}

.contributors-container {
    display: flex;
    flex-direction: row;
}

/* CONTRIBUTORS DROPDOWN */

.contributors-dropdown {
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    /* border-top: none; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contributors-dropdown li {
    padding: 8px 16px;
    cursor: pointer;
}

.contributors-dropdown li:hover {
    background-color: #f2f2f2;
}

/* CONTRIBUTORS SELECTION */
.selected-contributors-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* border: 1px solid #ccc; */
    /* padding: 4px; */
    /* border-radius: 4px; */
}

.selected-contributor {
    background-color: #eaeaea;
    padding: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.remove-contributor {
    border: none;
    background: transparent;
    color: #455a64;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    margin-left: 4px;
}

.dropdown-user {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.date-wrapper {
    width: 100%;
}

.date-selectors {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.date-selectors select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
    /* width: 80px; */
    width: 100%;
}

.date-selectors select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.selected-media-container {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* gap: 8px; */
}

.selected-media-view-container {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    /* padding-top: 10px; */
}
.selected-media-item {
    position: relative;
    padding: 10px;
}

.selected-media-item img,
.selected-media-item video {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

.remove-media {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    color: #455a64;
    font-weight: bold;
    padding: 0;
}

.media-selector {
    border: 1px solid #ccc;
    padding: 20px;
}