* {
    box-sizing: border-box;
}

:root {
    --avatar-size-xl: 180px;
    --avatar-size-m: 40px;
    --avatar-size-s: 30px;
    --avatar-size-xs: 22px;
    --avatar-size-xl-wrapper: 190px;
    --cover-image-size: 18vh;
    --nav-bg: #fff;
    --nav-text-color: #000000;
    --primary-bg: #ffffff;
    --secondary-bg: #fff;
    --white: #fff;
    --primary-text-color: #757575;
    --secondary-text-color: #202020;
    --border-radius: 8px;
    --speed: 500ms;
    --caret-size: 5px;
    --hover-color: #eceff1;
    --text-area-bg: #eceff1a4;
    --box-border: rgba(0, 123, 255, 0.25);
    --page-padding: 25px;
    --page-margin-start: 60px;
    --auth-page-margin-top: 30vh;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--primary-bg);
    background: 
    var(--primary-bg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

input[type=text],
input[type=password],
input[type=email] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #3069be;
    border-radius: 5px;
    color: white;
    padding: 12px 18px;
    /* margin: 8px 0; */
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.site-title {
    font-size: 2.5rem;
    font-weight: 900;
    font-family: Montserrat;
    letter-spacing: 2.5px;
}

.main-container {
    height: auto;
    min-height: 100vh;
    overflow: auto;
}

.auth-page-container {
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    margin-top: var(--auth-page-margin-top);
    .auth-box-container {
        height: fit-content;
        width: 500px;
        padding: 30px;
        background-color: var(--secondary-bg);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
        .auth-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}

.pages-container {
    margin-top: var(--page-margin-start);
}

.profile-page-container {
    display: flex;
    /* margin-left: 20%;
    margin-right: 20%; */
    /* width: 100%; */
    /* padding: var(--page-padding); */
    /* align-items: center; */
    justify-content: center;
}

.profile-page-sub-container {
    display: flex;
    width: 2000px;

}

.column {
    /* flex: 1; */
    /* Distribute space equally */
    /* padding: 20px; */
    height: 100vh;
}

.column:last-child {
    margin-right: 0;
}

.slim {
    width: 600px;
    max-width: 400px;
    min-width: 400px;
    padding: 20px;
    /* box-shadow: 0 20px 10px 0 rgba(0, 0, 0, .1); */
}

.wide {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.user-profile-col-1 {
    width: 60%;
}

.user-profile-col-2 {
    border: #000000d6 1px solid;
    width: 25%;
}

/* Apply styles when the screen width is less than or equal to a certain value */
@media screen and (max-width: 1400px) {
    .wide {
        flex-direction: column;
        /* Change to a column layout on smaller screens */
    }

    .user-profile-col-1,
    .user-profile-col-2 {
        width: 100%;
        /* Make both columns take up the full width on smaller screens */
    }
}

.profile-info-container {
    display: flex;
    flex-direction: column;

    .info-top {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
    }

    .profile-avatar-container {
        display: flex;
        justify-content: center;
    }

    .info-bottom {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        /* gap: 10px; */

        .followers-following-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: 20px;
            /* justify-content: center; */
            /* width: 200px; */
        }
        .info-section {
            padding-top: 20px;
        }
        .followers-container,
        .following-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .icon {
            font-size: 18px;
            margin-bottom: 5px;
        }
        .count {
            font-weight: bold;
        }
        .company,
        .location,
        .website,
        .joined,
        .email {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .icon {
            margin-right: 10px;
        }
    }

    .profile-avatar {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        /* margin-right: 20px; */
    }
    
    .profile-info {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        .name {
            font-size: 24px;
            font-family: Quicksand;
            font-weight: 600;
            letter-spacing: 1px;
            /* margin-bottom: 5px; */
        }

        .username {
            font-size: 18px;
            font-family: Quicksand;
            font-weight: 300;
            color: rgb(129, 125, 125);
        }

        .bio {
            font-size: 18px;
            font-family: Quicksand;
            font-weight: 300;
        }

        .bio-edit {
            width: 100%;
            height: 100px;
            padding: 10px;
            font-size: 14px;
            line-height: 1.5;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .bio-edit:focus {
            outline: none;
            box-shadow: 0 0 0 2px var(--box-border);
        }

        .bio-edit::placeholder {
            color: #aaa;
        }
    }

    .edit-profile-input {
        width: 100%;
        padding: 5px;
        font-size: 13px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
}

.input-container {
    display: flex;
    align-items: center;
    /* margin-bottom: 8px; */
}

.new-profile-container {
    width: 700px;
    /* border: 1px solid #ccc; */
    padding: 25px;
    margin-top: 100px;
    background-color: var(--secondary-bg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);

    .new-profile-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* width: 400px; */
    }

    .spaced-evenly {
        display: flex;
        flex-direction: row;
        justify-content:space-between;

        .btn-outline {
            background-color:transparent;
            border: 1px solid #000000;
            color: black;
            width: 100px;
        }
        .btn-outline:hover {
            background-color: #ababab1f;
        }

        .btn-primary {
            background-color: #3069be;
            width: 100px;
        }
    }
}

/*     NAVBAR       */
.unaxed-nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 70px;

    /* Colors */
    background-color: var(--nav-bg);
    color: var(--nav-text-color);
    border-bottom: 1px solid rgba(209, 219, 227, 0.774);
    /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03); */
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1); */
}

.unaxed-main-container {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 1rem;
}

.unaxed-left-container {
    width: 25%;
    display: flex;
    justify-content: start;
}

.unaxed-center-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.unaxed-right-container {
    width: 25%;
    justify-content: right;
    display: flex;
}

.unaxed-nav ul {
    list-style: none;
    display: flex;
    justify-items: left;
    align-items: left;
}

.unaxed-nav li {
    /* margin-right: 1rem; */
    /* align-items: center; */
    display: flex;
}

.unaxed-nav a {
    text-decoration: none;
    color: var(--nav-text-color);
}

.unaxed-nav a:hover {
    color: #555;
}

.unaxed-logo:hover {
    background-color: var(--secondary-bg);
}

.just-text {
    font-size: 21px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 10px 0 10px 0;
}

.forgot-password-link {
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500; 
    text-decoration: none;
    color: #1b63cf;
}

.forgot-password {
    padding: 12px 0 12px 0;
}

.alert {
    padding: 10px;
    margin-bottom: 10px;
}

.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

.alert-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.alert-error {
    background-color: #f2dede;
    color: #a94442;
}

.alert-info {
    background-color: #d9edf7;
    color: #31708f;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

.dropdown-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.dropdown-select {
    padding: 12px 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
    color: #636363da;
}

.dropdown-select option {
    padding: 20px;
    font-size: 14px;
    color: black;
}


/*     SEARCH BAR       */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #b4b4b48a;
    border-radius: 5px;
    height: 40px;
    width: 500px;
    position: relative;
}

.search-bar:hover {
    border: 1px solid #b4b4b4;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

.search-icon {
    position: absolute;
    right: 10px;
    color: gray;
    cursor: pointer;
}

.check-username-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e0e0e0;
    color: #333;
    width: 25%;
}

.name-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.medium-font {
    font-size: 18px;
    font-family: Quicksand;
    font-weight: 600;
}

.full-width-line {
    /* flex:1; */
    width: 100%;
    height: 1px;
    background-color: #c6c6c699;
    margin: 12px 0;
}

.edit-profile-btns {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    gap: 0.5rem;
    margin-top: 10px;
    margin-bottom: 15px; 
}

.create-cancel-btns {
    display: flex;
    /* justify-content: space-between; */
    width: auto;
    gap: 0.5rem;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cancel-btn {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    width: auto;
    padding: 8px;
}

.save-btn {
    /* background-color: #4caf50; */
    color: #fff;
    border: none;
    padding: 8px;
    width: auto;
}

.profile-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
}

.profile-btn.edit-btn {
    background-color: #e0e0e0;
    color: #333;
    border: none;
    padding: 10px;
    font-weight: normal;
}

.public-profile-btns-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    margin-left: 20px;
    margin-right: 20px;
}

.follow-btn.unfollow {
    background-color: #607d8bd4;
    color: #fff;
}

.follow-btn.follow {
    background-color: #0289d1dc;
    color: #fff;
}

.sponsor-btn {
    background-color: #b71c1cc3;
    color: #fff;
}

.vouch-btn {
    background-color: #009687b7;
    color: #fff;
}

.button-icon {
    margin-right: 5px;
}

.preview-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #45a049;
}


/* USER PROFILE NAV BAR  */
.user-profile-content {
    display: flex;
    flex-direction: column;
    width: auto;
}

.profile-navbar-group {
    width: auto;
    margin-left: 20px;
}

.profile-nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 10px;
    gap: 1.5rem;
}

.profile-nav-tab {
    background: none;
    padding: 10px;
    color: #000000;
    cursor: pointer;
    display: flex;
    justify-content: start;
    position: relative;
    font-size: 15px;
}

.profile-nav-bar-item-foot {
    position: relative;
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #b71c1cc3;
    border-radius: 50px;

}

.profile-nav-bar-item-foot.active .line {
    width: 100%;
    transition: width 0.3s ease;
}

.tab-content {
    flex-grow: 1;
}

.tab-content>div {
    padding: 20px;
    background-color: #fff;
}

.nav-icon {
    margin-right: 5px;
}


/* USER PROFILE DROPDOWN */
.user-avatar-nav-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.profile-dropdown {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    z-index: 1;
    min-width: 150px;
    background-color: var(--primary-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
}

/* Arrow on top right of dropdown */
.profile-dropdown::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--primary-bg) transparent;
}

.user-avatar-wrapper:hover .profile-dropdown {
    display: block;
}

.profile-dropdown-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: inherit;
}

.profile-item {
    padding: 5px 10px;
    /* display: block; */
}

.profile-item:hover {
    background-color: #b71c1c1e;
}

.profile-item a {
    color: #333;
    text-decoration: none;
}

.profile-item a:hover {
    /* color: #915eff; */
}

.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.not-found-heading {
    font-size: 3rem;
    color: #333;
    margin-bottom: 1rem;
}

.not-found-message {
    font-size: 1.5rem;
    color: #777;
    text-align: center;
}

.live-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}